/* Color styling */

/* red */
.red-500 {
  color: #d50000 !important;
}

/* green */
.green-200 {
  color: #0be597 !important;
}

.green-500 {
  color: #05a100 !important;
}

/* pink */
.pink-500 {
  color: #e94276 !important;
}

/* blue */
.blue-500 {
  color: #418af1 !important;
}

/* black */
.black-500 {
  color: #000 !important;
}

/* white */
.white {
  color: #fff !important;
}

/* Background  styling */

.bg-black {
  --background: #000;
}
