@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;700&display=swap');

/* Text styling */

.heading1-text {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-weight: 600;
}

.paragraph-text-8 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 8px;
  letter-spacing: 0.5px;
  font-weight: normal; 
}

.paragraph-text-10 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: normal; 
}

.paragraph-text-10-semibold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 10px;
  letter-spacing: -0.24px;
  font-weight: bold;
}

.paragraph-text-12 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.paragraph-text-12-light {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

.paragraph-text-12-semibold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.paragraph-text-12-bold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: bold;
}

.paragraph-text-13 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.paragraph-text-14 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.paragraph-text-14-bold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.paragraph-text-16 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: normal;
}

.paragraph-text-16-semibold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.paragraph-text-16-bold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.paragraph-text-18-light {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: lighter;
}

.paragraph-text-18-bold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.paragraph-text-20-bold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.paragraph-text-26-semibold {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 26px;
  letter-spacing: 0.5px;
  font-weight: 600;
  line-height: 31px;
}

.letter-spacing-05 {
  letter-spacing: 0.5px !important;
}

.line-height-10 {
  line-height: 10px;
}
