<ion-content>
  <div class="container" *ngIf="currentStep === 1">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login" mode="md"></ion-back-button>
    </ion-buttons>

    <form [formGroup]="emailForm" class="ion-padding-vertical">
      <div class="ion-padding">
        <ion-text class="forgot-password-title">Forgot</ion-text> <br />
        <ion-text class="forgot-password-title">Password ?</ion-text>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>

      <div class="ion-padding-bottom ion-margin-bottom">
        <ion-text color="danger">
          <small *ngIf="!emailForm.get('email').valid && (emailForm.get('email').dirty || emailForm.get('email').touched)">
            Please enter a valid email.
          </small>
        </ion-text>
      </div>

      <ion-button class="ion-margin" expand="block" color="dark" (click)="forgotSubmit()">Submit</ion-button>
    </form>
  </div>

  <div class="container" *ngIf="currentStep === 2">
    <div class="ion-padding">
      <ion-text class="forgot-password-title">Check Your Mail</ion-text> <br />
      <ion-text class="paragraph-text-12">We have sent a code in your email</ion-text>
    </div>

    <form [formGroup]="codeForm" class="ion-padding-vertical">
      <ion-item>
        <ion-label position="floating">Code</ion-label>
        <ion-input formControlName="code" type="number"></ion-input>
      </ion-item>

      <div class="ion-padding-bottom ion-margin-bottom">
        <ion-text color="danger">
          <small *ngIf="!codeForm.get('code').valid && (codeForm.get('code').dirty || codeForm.get('code').touched)">
            Please enter code.
          </small>
        </ion-text>
      </div>

      <ion-button class="ion-margin" expand="block" color="dark" (click)="verifyCode()">Verify Code</ion-button>
    </form>
  </div>
  <div class="container" *ngIf="currentStep === 3">
    <div class="ion-padding">
      <ion-text class="forgot-password-title">Reset Your Password</ion-text>
      <br />
      <ion-text class="paragraph-text-12">Enter your new password</ion-text>
    </div>
    <form [formGroup]="resetForm" class="ion-padding-vertical">
      <ion-item>
        <ion-label position="floating">New Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>

      <div class="ion-padding-bottom ion-margin-bottom">
        <ion-text color="danger">
          <small *ngIf="!resetForm.get('password').valid && (resetForm.get('password').dirty || resetForm.get('password').touched)">
            Please enter password.
          </small>
        </ion-text>
      </div>

      <ion-item>
        <ion-label position="floating">Confirm New Password</ion-label>
        <ion-input formControlName="confirm" type="password"></ion-input>
      </ion-item>

      <div class="ion-padding-bottom ion-margin-bottom">
        <ion-text color="danger">
          <small *ngIf="!passwordMatchError && !resetForm.get('confirm').valid && (resetForm.get('confirm').dirty || resetForm.get('confirm').touched)">
            Please enter password.
          </small>
          <small *ngIf="passwordMatchError"> Password mismatch.</small>
        </ion-text>
      </div>

      <ion-button class="ion-margin" expand="block" color="dark" (click)="resetPassword()">Reset Password</ion-button>
    </form>
  </div>
</ion-content>