<!-- Call To Action End -->
<div class="section-full call-action bg-primary wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s" style="background-color: #000d17 !important;" id="appSection">
	<div class="container-app-info">
			<div class="col-lg-9 text-white">
				<h2 class="title">THE APP</h2>
				<p class="m-b0">Get real-time converter pricing, live market data, photo grading, and more thorugh the Catalytic Masterminds app.</p>
			</div>
			<div class="btn-row">
				<img (click)="open('android')" src="../../../../../assets/images/GooglePlayBadge.png" />
				<img (click)="open('ios')" src="../../../../../assets/images/AppleStoreBadge.png" />
			</div>
			<div style="margin-top: 35px">
				<img src="../../../../../assets/images/phones.png" />
			</div>
	</div>
</div>
<!-- Call To Action End -->
