<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="42a7f4a8-14b0-44ad-965c-e00be10c0c2f" Alias="account" Level="1">
  <Info>
    <Name>Account</Name>
    <Icon>icon-umb-users color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Account</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7a3e6bba-2e3a-481a-8eb9-e8b54327aa52">Account</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>56391c7a-ffb2-49e6-958a-c70b1c362353</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageHeader">Page Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bdf25ee3-78c8-4a4d-bb76-9e9f2b2c6067</Key>
      <Caption>Page Header</Caption>
      <Alias>pageHeader</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>