<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4168e29a-b163-4fd2-a291-024e066d8c1b" Alias="privacyPolicy" Level="1">
  <Info>
    <Name>Privacy Policy</Name>
    <Icon>icon-eye color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>PrivacyPolicy</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="192c8055-1435-4ebd-967e-caf5a7a41fd2">Master</Template>
      <Template Key="289f4b29-f828-4fce-bf1d-342c14b56ae2">PrivacyPolicy</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e76e3233-1f5f-4e58-a33b-80f0642aa9c0</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>805acb59-c7e7-469b-b0f1-ebcd96ee9552</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>