<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f25bf73b-a01b-43d2-8731-8c7f1784e0db" Alias="termsOfService" Level="1">
  <Info>
    <Name>Terms of Service</Name>
    <Icon>icon-auction-hammer color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Displays Catalytic Master Mind's Terms of Service.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TermsOfService</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="192c8055-1435-4ebd-967e-caf5a7a41fd2">Master</Template>
      <Template Key="d454d169-62d0-4880-a43f-b65e596a22ae">TermsOfService</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c7bc7f65-a6dc-4d3e-88c3-5692c0cd9c90</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Title of the page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageHeader">Page Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e615c21b-3d43-42de-ace3-4acbef398c37</Key>
      <Caption>Page Header</Caption>
      <Alias>pageHeader</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>