<app-header title="Inventory"></app-header>

<div class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)" mode="ios" [value]="activeSegment" [attr.disabled]="isLoading">
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="closed">
      <ion-label>Closed</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<ion-content class="ion-padding-start ion-padding-end" #content>
  <div *ngIf="isLoading && !lots.data">
    <app-skeleton-list-loader></app-skeleton-list-loader>
  </div>

  <ion-card *ngFor="let lot of lots.data; index as i" class="inventory-card-item" (click)="goToLotList(lot)">
    <div class="inventory-delete-button-wrapper" (click)="deleteLot($event, lot)">
      <ion-icon slot="icon-only" class="inventory-delete-button" name="close-outline"></ion-icon>
    </div>
    <ion-card-content class="inventory-card-item-content">
      <ion-row>
        <ion-col class="ion-text-start inventory-item-col truncate" size="4">
          <ion-text class="paragraph-text-14-bold white">{{lot.lotName}}</ion-text><br />
          <ion-text class="paragraph-text-10 white" *ngIf="defaultSegment !== 'active'">Invoice: {{lot.invoiceNo}}</ion-text>
        </ion-col>
        <ion-col class="ion-text-start inventory-item-col" size="4">
          <ion-text class="paragraph-text-12 white">Quantity: {{lot.quantity || 0}}
          </ion-text>
          <br />
          <ion-text class="paragraph-text-12 white">Average: </ion-text>
          <ion-text class="paragraph-text-12 white">{{formatPrice(lot.average || 0)}}</ion-text>
          <br />
          <ion-text class="paragraph-text-12 white">Total: </ion-text>
          <ion-text class="paragraph-text-12 white">{{formatPrice(lot.total || 0)}}</ion-text>
        </ion-col>
        <ion-col class="ion-text-center inventory-item-col" size="4">
          <ion-text class="paragraph-text-10 white">{{formatDate(lot.createdOn)}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll *ngIf="defaultSegment === 'active'" (ionInfinite)="onIonInfinite($event)" threshold="200px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-infinite-scroll *ngIf="defaultSegment === 'closed'" (ionInfinite)="onIonInfinite($event)" threshold="200px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer class="ion-padding">
  <ion-button [disabled]="userSubscription == 1" id="inventory-modal" expand="block" class="create-inventory-button" (click)="clear()" [disabled]="userSubscription == 1 || userSubscription == 3">
    <ion-text *ngIf="userSubscription == 2" class="paragraph-text-16-semibold">Create a New Inventory Lot</ion-text>
    <ion-text *ngIf="userSubscription == 1 || userSubscription == 3" class="paragraph-text-16-semibold">Upgrade your Subscription to Create Lots</ion-text>
  </ion-button>
</ion-footer>

<ion-modal #modal trigger="inventory-modal" [animated]="false">
  <ng-template>
    <ion-content class="lot-content">
      <ion-toolbar mode="ios">
        <ion-buttons slot="start">
          <ion-text class="paragraph-text-14-bold">Add New Lot</ion-text>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button color="light" (click)="modal.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <div class="ion-padding-start ion-padding-end ion-padding-top">
        <ion-text class="black-500 paragraph-text-14-bold">Lot Name</ion-text>
      </div>

      <div class="ion-padding">
        <ion-input [(ngModel)]="lotName" class="lot-input" placeholder="12345678"></ion-input>
      </div>

      <ion-footer class="modal-footer">
        <div class="footer-button">
          <ion-button class="ion-text-capitalize cancel-lot-button" color="dark" (click)="modal.dismiss()">
            <ion-text class="paragraph-text-16-semibold">Cancel</ion-text>
          </ion-button>
          <ion-button class="create-lot-button" (click)="onCreateLot()" [attr.disabled]="!lotName">
            <ion-text class="paragraph-text-16-semibold white">Create Lot</ion-text>
          </ion-button>
        </div>
      </ion-footer>
    </ion-content>
  </ng-template>
</ion-modal>