@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>BAC</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
          integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
            crossorigin=""></script>

    <link rel="stylesheet" href="~/scripts/fontawesome-5.5/css/all.min.css" />
    <link rel="stylesheet" href="~/scripts/slick/slick.css">
    <link rel="stylesheet" href="~/scripts/slick/slick-theme.css">
    <link rel="stylesheet" href="~/scripts/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/templatemo-style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.7/dist/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/base.css" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.7/dist/sweetalert2.all.min.js"></script>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/slick/slick.min.js"></script>
    <script src="~/scripts/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/scripts/jquery.singlePageNav.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/base.js" defer></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/scripts/checkout.js" defer></script>
    <script src="~/scripts/stripe.js" defer></script>
    <script src="~/scripts/authenticate.js" defer></script>

    <script>      
        const API_URL = @Json.Serialize(@Configuration.GetSection("ApiUrls").GetSection("API").Value)
    </script>
</head>
<body>

    @RenderBody()

    <footer class="text-center small tm-footer">
        <div class="text-center mb-4">
            <img src="~/css/bac-images/cm-transparent-horizontal.png" alt="Image" class="img-fluid" />
        </div>
        <p class="mb-0" style="font-size: 14px; color: #fff">
            &copy; @DateTime.Now.Year.ToString() Catalytic Mastermind All rights reserved | <a href="/terms-of-use/" class="tm-nav-link">Terms and Conditions </a>| <a href="/privacy-policy/" class="tm-nav-link">Privacy Policy</a>
        </p>
    </footer>

    <script>
        window.addEventListener('load', function() {
            function getOffSet() {
                var _offset = 450;
                var windowHeight = window.innerHeight;

                if (windowHeight > 500) {
                    _offset = 400;
                }
                if (windowHeight > 680) {
                    _offset = 300
                }
                if (windowHeight > 830) {
                    _offset = 210;
                }

                return _offset;
            }

            function setParallaxPosition($doc, multiplier, $object) {
                var offset = getOffSet();
                var from_top = $doc.scrollTop(),
                    bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
                $object.css({ "background-position": bg_css });
            }

            // Parallax function
            // Adapted based on https://codepen.io/roborich/pen/wpAsm
            var background_image_parallax = function($object, multiplier, forceSet) {
                multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
                multiplier = 1 - multiplier;
                var $doc = $(document);
                // $object.css({"background-attatchment" : "fixed"});

                if (forceSet) {
                    setParallaxPosition($doc, multiplier, $object);
                } else {
                    $(window).scroll(function() {
                        setParallaxPosition($doc, multiplier, $object);
                    });
                }
            };

            var background_image_parallax_2 = function($object, multiplier) {
                multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
                multiplier = 1 - multiplier;
                var $doc = $(document);
                $object.css({ "background-attachment": "fixed" });
                $(window).scroll(function() {
                    var firstTop = $object.offset().top,
                        pos = $(window).scrollTop(),
                        yPos = Math.round((multiplier * (firstTop - pos)) - 186);

                    var bg_css = 'center ' + yPos + 'px';

                    $object.css({ "background-position": bg_css });
                });
            };

            $(function() {
                // Hero Section - Background Parallax
                background_image_parallax($(".tm-parallax"), 0.30, false);
                background_image_parallax_2($("#contact"), 0.80);

                // Handle window resize
                window.addEventListener('resize', function() {
                    background_image_parallax($(".tm-parallax"), 0.30, true);
                }, true);

                // Detect window scroll and update navbar
                $(window).scroll(function(e) {
                    if ($(document).scrollTop() > 120) {
                        $('.tm-navbar').addClass("scroll");
                    } else {
                        $('.tm-navbar').removeClass("scroll");
                    }
                });

                // Close mobile menu after click
                $('#tmNav a').on('click', function() {
                    $('.navbar-collapse').removeClass('show');
                })

                // Scroll to corresponding section with animation
                $('#tmNav').singlePageNav();

                // Add smooth scrolling to all links
                // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
                $("a").on('click', function(event) {
                    if (this.hash !== "") {
                        event.preventDefault();
                        var hash = this.hash;

                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 400, function() {
                            window.location.hash = hash;
                        });
                    } // End if
                });

                // Pop up
                $('.tm-gallery').magnificPopup({
                    delegate: 'a',
                    type: 'image',
                    gallery: { enabled: true }
                });

                // Gallery
                $('.tm-gallery').slick({
                    dots: true,
                    infinite: false,
                    slidesToShow: 5,
                    slidesToScroll: 2,
                    responsive: [
                        {
                            breakpoint: 1199,
                            settings: {
                                slidesToShow: 4,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 991,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 2
                            }
                        },
                        {
                            breakpoint: 767,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 1
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1
                            }
                        }
                    ]
                });
            });
        });
    </script>
</body>
</html>