<ion-content class="lot-content">
  <ion-toolbar class="add-code-toolbar" mode="ios">
    <ion-buttons slot="start">
      <ion-text class="paragraph-text-14-bold">Add a Code</ion-text>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button color="light" (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label position="stacked" class="black-500 paragraph-text-14-bold">Code</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="codeName" class="lot-input" placeholder="Input code name" (keydown)="checkEnterKeyDown($event)"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label position="stacked" class="black-500 paragraph-text-14-bold">Item Price</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="price" class="lot-input" placeholder="Input unit price" (keydown)="onPriceKeyDown($event); checkEnterKeyDown($event)" (ionBlur)="onBlurPrice($event)" (ionInput)="onInputPrice()" type="number"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label position="stacked" class="black-500 paragraph-text-14-bold">Item Fullness %</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-range mode="ios" [(ngModel)]="fullness" pin="true" min="0" max="100" step="10" (ionChange)="onChangeFullness()" [attr.disabled]="price < 0 || price == undefined">
          <ion-text slot="start" class="black-500">0</ion-text>
          <ion-text slot="end" class="black-500">100</ion-text>
        </ion-range>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="modal-footer">
    <div class="footer-button">
      <ion-button class="ion-text-capitalize" color="dark" (click)="cancel()">
        <ion-text class="paragraph-text-16-semibold">Cancel</ion-text>
      </ion-button>
      <ion-button class="add-lot-button" (click)="submit()" [attr.disabled]="!codeName || price < 0 || price == undefined">
        <ion-text class="paragraph-text-16-semibold white">Add to Lot</ion-text>
      </ion-button>
    </div>
  </ion-footer>
</ion-content>