<!-- About Us -->
<div class="section-full content-inner-2" id="about-us" style="background-color: #202540">
	<div class="container-about-us">
		<div>
			<img src="../../../../../assets/images/CM-Logo.png" />
		</div>
		<div class="about-text">
			<p>Hello, my name is Andreas Omerovic. You may know me better by Drew and the company I operated in recent years as BeyondAutoCores. Being raised in the precious metals industry, I've experienced many opportunities since the age of 7.</p>
			<p>I have bought from all 50 states plus overseas, from local junkyards to refineries, and worked alongside some of the most knowledgeable and powerful people. I have seen the dark sides to this business and even had to build back from scratch. An important lesson is that the business is more than just paying "top dollar."</p>
		</div>
		<div>
			<h3 style="text-align: center; color: white">OUR PROCESS</h3>
			<div class="icon-row">
				<div class="col icon-text">
					<img src="../../../../../assets/images/assay.svg"/>
					<br>
					<h5>ASSAY</h5>
					<p>Work directly with us and the refinery where your material will be processed and paid out to you.</p>
				</div>
				<div class="col icon-text">
					<img src="../../../../../assets/images/hedge.svg"/>
					<br>
					<h5>HEDGE</h5>
					<p>Lock in live prices for your material so that you are secured in a volatile market.</p>
				</div>
				<div class="col icon-text">
					<img src="../../../../../assets/images/se.svg"/>
					<br>
					<h5>SELL AT THE DOOR OR SHIP</h5>
					<p>Whether you have 1000 pieces or 1, we can get you a quote on shipping and lock in that price for you.</p>
				</div>
				<div class="col icon-text">
					<img src="../../../../../assets/images/contact-us.svg"/>
					<br>
					<h5>CONTACT US</h5>
					<p>You can reach us through phone, email, or on our Website.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- About Us End -->