<div id="app" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="slide1" style="display: flex;
			background-image: url(assets/images/main-slider/steel/slide3.jpg);
			flex-direction: row;
			justify-content: center;">
				<div class="carousel-text text-white">
					<h1>CATALYTIC MASTERMIND</h1>
					<p>Real-Time Pricing | Photo Grading | Comprehensive Invoice System</p>
					<p>The Evolution of Catalysts. Helping consumers find what they need.</p>
						<div class="btn-row">
							
							<a href="#" (click)="scroll($event, 'subscriptions')" class="site-button btnhover14 sub-btn">Start Subscription</a>
							<a href="#" (click)="scroll($event, 'appSection')"class="site-button btnhover14">Download The App</a>
						</div>
				</div>   
			</div>
		</div>
	</div>
</div>