<?xml version="1.0" encoding="utf-8"?>
<Content Key="d06a3de8-00fa-4d9f-8534-63ada7347ac5" Alias="Account" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Account</Path>
    <Trashed>false</Trashed>
    <ContentType>account</ContentType>
    <CreateDate>2023-04-26T10:02:55</CreateDate>
    <NodeName Default="Account" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7a3e6bba-2e3a-481a-8eb9-e8b54327aa52">Account</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>