<?xml version="1.0" encoding="utf-8"?>
<Content Key="774b04c2-92c5-4b23-91b4-d54fb13085d8" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-04-26T10:02:30</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5d35b864-cc17-449b-bbae-9ea2ae139bda">Home</Template>
  </Info>
  <Properties>
    <endTag>
      <Value><![CDATA[]]></Value>
    </endTag>
    <tagline>
      <Value><![CDATA[]]></Value>
    </tagline>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>