<?xml version="1.0" encoding="utf-8"?>
<Content Key="50a1dd11-2859-47a3-a8b2-8f5728b22d80" Alias="Login" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2023-04-26T10:03:47</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ab2daf76-ac2f-4175-8084-e732817b92c8">Login</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>