<?xml version="1.0" encoding="utf-8"?>
<Content Key="97d63d55-8419-4362-80ab-f8a05a083904" Alias="Privacy Policy" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PrivacyPolicy</Path>
    <Trashed>false</Trashed>
    <ContentType>privacyPolicy</ContentType>
    <CreateDate>2023-04-13T23:15:40</CreateDate>
    <NodeName Default="Privacy Policy" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="289f4b29-f828-4fce-bf1d-342c14b56ae2">PrivacyPolicy</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>