<?xml version="1.0" encoding="utf-8"?>
<Content Key="f7d774d7-c99d-4689-80e4-49abc44b3a6a" Alias="Privacy Policy" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/PrivacyPolicy</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>termsOfService</ContentType>
    <CreateDate>2023-04-13T23:13:21</CreateDate>
    <NodeName Default="Privacy Policy" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d454d169-62d0-4880-a43f-b65e596a22ae">TermsOfService</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>