<?xml version="1.0" encoding="utf-8"?>
<Content Key="3095ff16-92ca-4b6f-8949-e5cfa27a8b44" Alias="Registration" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Registration</Path>
    <Trashed>false</Trashed>
    <ContentType>registration</ContentType>
    <CreateDate>2023-04-26T10:05:24</CreateDate>
    <NodeName Default="Registration" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8568c0e5-190e-4b12-8545-3cf15224a5b8">Registration</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[]]></Value>
    </content>
  </Properties>
</Content>