<?xml version="1.0" encoding="utf-8"?>
<Content Key="1da45b06-5bee-493d-a68d-2d5d7bca0f44" Alias="Terms of Use" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TermsOfUse</Path>
    <Trashed>false</Trashed>
    <ContentType>termsOfService</ContentType>
    <CreateDate>2023-04-13T20:27:44</CreateDate>
    <NodeName Default="Terms of Use" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d454d169-62d0-4880-a43f-b65e596a22ae">TermsOfService</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>