<app-header title="Search"></app-header>

<ion-content [scrollEvents]="true">
  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-title class="heading1-text">Search by Code</ion-card-title>
    </ion-card-header>
    <ion-card-content style="position: relative;">
      <div class="clear-btn-wrapper">
        <ion-icon class="clear-btn" name="close-outline" (click)="this.searchCode = '';"></ion-icon>
      </div>
      <ion-input [(ngModel)]="searchCode" placeholder="Enter converter code ..." enterkeyhint="Search" (ionInput)="onClearEmpty($event)" (ionChange)="onSearch($event)" (keyup.enter)="keyEnter($event)" [debounce]="1000" #search></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-grid class="ion-padding-start ion-padding-end">
    <ion-row>
      <ion-col class="find-text-container">
        <ion-text class="paragraph-text-14 vertical-center">Not Finding Your Code?</ion-text>
      </ion-col>
      <ion-col>
        <ion-button class="view-generics-button" expand="block" (click)="goToGenerics()">View Generics</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding-end">
    <div *ngIf="isLoading && !dataCodes.data">
      <app-skeleton-list-loader></app-skeleton-list-loader>
    </div>

    <ng-template *ngIf="dataCodes.data" ngFor let-code [ngForOf]="dataCodes.data" let-i="index">
      <app-generic-code-card [code]="code"></app-generic-code-card>
    </ng-template>

    <div *ngIf="isLoading && dataCodes.data">
      <app-skeleton-list-loader></app-skeleton-list-loader>
    </div>
  </div>

  <!-- fab button for adding lot -->
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" class="fab">
    <ion-fab-button id="search-modal" color="dark" (click)="fetchLots()">
      <ion-icon src="/assets/icon/add-code.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #modal trigger="search-modal" [animated]="false" (didDismiss)="reset()">
    <ng-template>
      <ion-content class="lot-content">
        <ion-toolbar class="modal-toolbar" mode="ios">
          <ion-buttons slot="start">
            <ion-text class="paragraph-text-14-bold">Add a New Code and Add to Lot</ion-text>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>

        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label position="stacked black-500" class="black-500 paragraph-text-14-bold">Lot Name</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-select class="lot-select black-500" interface="action-sheet" placeholder="Select lot " [(ngModel)]="lotId">
                <ion-select-option *ngFor="let lot of lots; index as i" [value]="lot.id">{{ lot.lotName }}</ion-select-option>
              </ion-select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label position="stacked" class="black-500 paragraph-text-14-bold">Code</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-input [(ngModel)]="codeName" class="lot-input" placeholder="Input code name"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label position="stacked" class="black-500 paragraph-text-14-bold">Item Price</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-input [(ngModel)]="price" class="lot-input" placeholder="Input unit price" type="number" (keydown)="onPriceKeyDown($event)" (ionBlur)="onBlurPrice($event)" (ionInput)="onInputPrice($event)"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-label position="stacked" class="black-500 paragraph-text-14-bold">Item Fullness %</ion-label>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-range [(ngModel)]="fullness" mode="ios" pin="true" min="0" max="100" step="10" (ionChange)="onChangeFullness()">
                <ion-text slot="start" class="black-500">0</ion-text>
                <ion-text slot="end" class="black-500">100</ion-text>
              </ion-range>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-footer class="modal-footer">
          <div class="footer-button">
            <ion-button class="ion-text-capitalize" color="dark" (click)="onCancelAddCode()">
              <ion-text class="paragraph-text-16-semibold">Cancel</ion-text>
            </ion-button>
            <ion-button class="add-lot-button" (click)="addCode()" [attr.disabled]="!lotId || !codeName || price < 0 || price == undefined">
              <ion-text class="paragraph-text-16-semibold white">Add to Lot</ion-text>
            </ion-button>
          </div>
        </ion-footer>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>