.header-ion-icon-logo {
  padding-left: 8px;
  padding-right: 3px;
  width: 43px;
}

.header-ion-icon-settings {
  padding-left: 8px;
  padding-right: 5px;
  width: 41px;
  height: 41px;
}

.header-ion-logo {
  width: 100%;
  height: 35px;
  position: absolute;
  top: 4px;
}

ion-title {
  text-transform: uppercase;
  font-size: 18px;
}
