<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-justify-content-center" style="display: flex;">
        <ion-img class="cm-logo" src="../../assets/cm_logo@3x.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text class="ion-text-center">Login</ion-text>

  <form [formGroup]="form">
    <ion-item>
      <ion-label class="paragraph-text-13" position="stacked">Email</ion-label>
      <ion-input formControlName="userName" type="email" (keydown)="keyDown($event)"></ion-input>
    </ion-item>

    <div>
      <ion-text color="danger">
        <small *ngIf="!form.get('userName').valid && (form.get('userName').dirty || form.get('userName').touched)">
          Please enter a valid email.
        </small>
      </ion-text>
    </div>

    <ion-item>
      <ion-label class="paragraph-text-13" position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password" (keydown)="keyDown($event)"></ion-input>
    </ion-item>
    <div class="ion-padding-bottom ion-margin-bottom">
      <ion-text color="danger">
        <small *ngIf="!form.get('password').valid && (form.get('password').dirty || form.get('password').touched)">
          Please enter a valid password.
        </small>
      </ion-text>
    </div>
    <ion-button (click)="submitForm()" class="ion-margin" expand="block" color="dark" [attr.disabled]="!form.valid || isSubmitting">
      <ion-text class="paragraph-text-16-semibold">Login</ion-text>
    </ion-button>

    <ion-button class="paragraph-text-12" fill="none" (click)="goToForgotPassword()">Forgot your password?</ion-button>
  </form>

  <p class="sign-up-footer">
    <ion-text class="paragraph-text-12">Need Help? </ion-text>
    <ion-text fill="none" class="paragraph-text-12-semibold" (click)="signUp()">Sign up</ion-text>
  </p>
</ion-content>