.footer-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.footer-links p {
    margin: 5px;
}