<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="changePasswordForm" class="ion-padding-vertical">
    <ion-item>
      <ion-label position="floating">Old Password</ion-label>
      <ion-input formControlName="old" type="password"></ion-input>
    </ion-item>

    <div class="ion-padding-bottom ion-margin-bottom">
      <ion-text color="danger">
        <small *ngIf="!changePasswordForm.get('old').valid && (changePasswordForm.get('old').dirty || changePasswordForm.get('old').touched)">
          Please enter old password.
        </small>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <div class="ion-padding-bottom ion-margin-bottom">
      <ion-text color="danger">
        <small *ngIf="!changePasswordForm.get('password').valid && (changePasswordForm.get('password').dirty || changePasswordForm.get('password').touched)">
          Please enter new password.
        </small>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Confirm New Password</ion-label>
      <ion-input formControlName="confirm" type="password"></ion-input>
    </ion-item>

    <div class="ion-padding-bottom ion-margin-bottom">
      <ion-text color="danger">
        <small *ngIf="!passwordMatchError && !changePasswordForm.get('confirm').valid && (changePasswordForm.get('confirm').dirty || changePasswordForm.get('confirm').touched)">
          Please enter confirm password.
        </small>
        <small *ngIf="passwordMatchError"> Password mismatch.</small>
      </ion-text>
    </div>

    <ion-button class="ion-margin" expand="block" color="dark" (click)="save()">Save</ion-button>
  </form>
</ion-content>