<!-- Services -->
<div class="section-full" id="subscriptions" style="background: #141728 !important" #subscriptions>
	<div class="container tm-container-gallery">
        <div class="row">
            <div class="col-lg-12 text-center font-light">
                <h2 class="section-btn text-center" style="margin-top: 35px">SUBSCRIPTION LEVELS</h2>
            </div>
            <div class="col-lg-12 download-divider">
                <div></div>
                <img src="../../../../../assets/images/catalytic-converter-color.svg" alt="Image" class="img-fluid" />
                <div></div>
            </div>
            <div class="col-lg-12">
                <div class="affiliates-cls row">
                    <div class="left-side">
                        <div class="align-center-subs">
                        <div class="access-title"><b id="premium-name">Premium</b></div>
                        <div class="trial-text">5 Day Free Trial!</div>
                        <div class="access-price">
                            <div><div id="premium-price">$44.99</div><span>/Month</span></div>
                        </div>
                        <div><span class="access-title-sub">Users will have access to</span></div>
                        </div>
                        <div class=access-divider></div>
                        <div class="access-list">
                            <span><i class="bi bi-check-circle-fill"></i>Real-time converter pricing</span>
                            <span><i class="bi bi-check-circle-fill"></i>Live market data</span>
                            <span><i class="bi bi-check-circle-fill"></i>Images</span>
                            <span><i class="bi bi-check-circle-fill"></i>Photo grading</span>
                            <span><i class="bi bi-check-circle-fill"></i>5% commission affiliate link</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Invoice system</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Margin Adjustment</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Buyer Updates</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Exclusive Discord Group</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Exclusive Events</span>
                        </div>
                        <div class="access-btn">
                            <a href="/registration?subscription=1">
                                <button class="btn btn-outline-warning btn-full">Go Premium</button>
                            </a>
                        </div>
                    </div>
                    <div class="mid-side">
                        <div class="align-center-subs">
                        <div class="access-title"><b id="lifetime-name">Platinum</b></div>
                        <div class="trial-text">5 Day Free Trial!</div>
                        <div class="access-price">
                            <div><div id="premium-price">$19.98</div><span>/Month</span></div>
                        </div>
                        <div><span class="access-title-sub">Users will have access to</span></div>
                        </div>
                        <div class=access-divider></div>
                        <div class="access-list">
                            <span><i class="bi bi-check-circle-fill"></i>Search unlimited codes</span>
                            <span><i class="bi bi-check-circle-fill"></i>Access to all images</span>
                            <span><i class="bi bi-check-circle-fill"></i>Real-time converter pricing</span>
                            <span><i class="bi bi-check-circle-fill"></i>Live market data</span>
                            <span><i class="bi bi-check-circle-fill"></i>Images</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Photo grading</span>
                            <span><i class="bi bi-check-circle-fill red"></i>5% commission affiliate link</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Invoice system</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Margin Adjustment</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Buyer Updates</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Exclusive Discord Group</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Exclusive Events</span>
                        </div>
                        <div class="access-btn">
                            <a href="/registration?subscription=3">
                                <button class="btn btn-warning btn-full">Go Platinum</button>
                            </a>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="align-center-subs">
                            <div class="access-title"><b id="elite-name">Elite</b></div>
                            <div class="trial-text">5 Day Free Trial!</div>
                            <div class="access-price">
                                <div><div id="elite-price">$59.99</div><span>/Month</span></div>
                            </div>
                            <div><span class="access-title-sub">Users will have access to</span></div>
                        </div>
                        <div class=access-divider></div>
                        <div class="access-list">
                            <span><i class="bi bi-check-circle-fill"></i>Real-time converter pricing</span>
                            <span><i class="bi bi-check-circle-fill"></i>Live market data</span>
                            <span><i class="bi bi-check-circle-fill"></i>Images</span>
                            <span><i class="bi bi-check-circle-fill"></i>Photo grading</span>
                            <span><i class="bi bi-check-circle-fill"></i>10% commission affiliate link</span>
                            <span><i class="bi bi-check-circle-fill"></i>Invoice system</span>
                            <span><i class="bi bi-check-circle-fill"></i>Margin Adjustment</span>
                            <span><i class="bi bi-check-circle-fill"></i>Buyer Updates</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Exclusive Discord Group</span>
                            <span><i class="bi bi-check-circle-fill red"></i>Exclusive Events</span>
                        </div>
                        <div class="access-btn">
                            <a href="/registration?subscription=2">
                                <button class="btn btn-outline-warning btn-full">Go Elite</button>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
