<!-- Our work -->
<div class="section-full" id="affiliates" style="background: #202540; padding: 80px;" >
	<div>
        <div class="row">
            <div class="col-lg-12 text-center font-light">
                <h2 class="section-btn text-center" style="margin-top: 35px">AFFILIATES PROGRAM</h2>
            </div>
            <div class="col-lg-12 text-center">
                <h3 style="color: white">
                    Create new Catalytic Mastermind members.<br />
                    Earn more than just commission
                </h3>
            </div>
            <div class="col-lg-12 download-divider">
                <div></div>
                <img src="../../../../../assets/images/info.png" alt="Image" class="img-fluid" />
                <div></div>
            </div>
            <div class="col-lg-12 text-center">
                <p style="color: white">
                    Grow your revenue with Catalytic Masterminds, exclusive access experiences, and earn commission through our affiliates program.
                </p>
            </div>
            <div class="col-lg-12 text-center">
                <h2 class="ad-header-text" style="color: white"> 
                    How does it work?
                </h2>
            </div>
            <div class="col-lg-12 text-center">
                <p style="color: white">
                    When you subscribe to Catalytic Masterminds, you get a link to share with your friends. When other users sign up from that Link, you are benefited from a commission from being a subscriber.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Our work END -->
