<div class="page-wraper">
	<app-header-three></app-header-three>
	<!-- Content -->
    <div class="page-content bg-white">
		<app-slider-four></app-slider-four>
		<div class="content-block">
			<app-call-action-one></app-call-action-one>
			<app-about-one></app-about-one>
			<app-service-one></app-service-one>
			<app-work-one></app-work-one>
			<app-team-one></app-team-one>
		</div>
	</div>
	<app-footer-one></app-footer-one>
	<button class="scroltop style1 white icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
